<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
<session-factory>
<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
<property name="connection.url">jdbc:mysql://localhost:3306/finance_tracker</property>
<property name="connection.username">root</property>
<property name="connection.password">Security</property>
<property name="hbm2ddl.auto">update</property>
<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
<property name="hbm2ddl.auto">update</property>
<property name="show_sql">false</property>
<property name="format_sql">false</property>
<mapping class="com.Finance_Tracker.User"/>
<mapping class="com.Finance_Tracker.Account"/>
<mapping class="com.Finance_Tracker.Transaction"/>
<mapping class="com.Finance_Tracker.Budget"/>
<mapping class="com.Finance_Tracker.Goal"/>
<mapping class="com.Finance_Tracker.Recurring_transaction"/>
<mapping class="com.Finance_Tracker.Category"/>

</session-factory>
</hibernate-configuration>